:root {
  --primary-text-color: #2e2f42;
  --second-text-color: #434445;
  --brand-color: #4d5ae5;
  --accent-kolor: #404bbf;
  --background-origin: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-origin);
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.navigation .link-item {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
}
.navigation .current {
  color: var(--accent-kolor);
}
.link-item:hover,
.link-item:focus {
  color: var(--accent-kolor);
}
.adress-page {
  font-style: normal;
}
.contact-adress .page {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  text-decoration: none;
}
.adress-mail:hover,
.adress-mail:focus {
  color: var(--accent-kolor);
}
.phone-number:hover,
.phone-number:focus {
  color: var(--accent-kolor);
}
.logo-first {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  display: flex;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--brand-color);
}
.logo-second-dark {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  display: flex;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--primary-text-color);
}
.logo-second-light {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  display: flex;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #f4f4fd;
}
.title-hero {
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--background-origin);
}

.hero {
  background: var(--primary-text-color);
}
.btn-hero:hover,
.btn-hero:focus {
  color: var(--background-origin);
  background: var(--accent-kolor);
}
.btn-hero {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  letter-spacing: 0.04em;
  color: var(--background-origin);
  background: var(--brand-color);
}
.features-caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.features-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}
.visually-advantages {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-titel {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.employee-page {
  background: #f4f4fd;
}
.employee-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.employee-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}
.color-item {
  background: var(--background-origin);
}
.footer-page {
  background: var(--primary-text-color);
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}
.modale-btn-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--brand-color);
}
.modale-btn-text:hover,
.modale-btn-text:focus {
  color: var(--background-origin);
  background-color: var(--accent-kolor);
}
.gallery-titel {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.gallery-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}
